<%- include("header") -%>
<%- include("navbar") -%>

<section>
    <div>
        <h1>Welcome to the demo site</h1>
        <button><a href="/not-protected">Public</a></button>
        <button><a href="/protected">Protected</a></button>
    </div>
</section>

<%- include("footer") -%>